In [13]:
# API key ID: otlwwfxero72fkms03hi49x2
# API key secret: 5qbnpzqphl1y8bz6eggxraxlzlnbnhso49bro4925r1rpxj6sn
# app token: 8y23ArYxg4pcvOMgWzMFSC0nB
# secret app token: pZgwEL4lKm2r1s868Saz3EJ1ebpTKy-FzglU

# crime data docs: https://dev.socrata.com/foundry/data.cityofchicago.org/9hwr-2zxp

# make sure to install these packages before running:
!pip install pandas
!pip install sodapy

Requirement already satisfied: pandas in /Users/nicolavalle/miniconda3/envs/ds/lib/python3.10/site-packages (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/nicolavalle/miniconda3/envs/ds/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/nicolavalle/miniconda3/envs/ds/lib/python3.10/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.21.0 in /Users/nicolavalle/miniconda3/envs/ds/lib/python3.10/site-packages (from pandas) (1.23.2)
Requirement already satisfied: six>=1.5 in /Users/nicolavalle/miniconda3/envs/ds/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: sodapy in /Users/nicolavalle/miniconda3/envs/ds/lib/python3.10/site-packages (2.2.0)
Requirement already satisfied: requests>=2.28.1 in /Users/nicolavalle/miniconda3/envs/ds/lib/python3.10/site-packages (from sodapy) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/nicolavalle/miniconda3/envs/ds/lib/python3.10/site-packages (from requests>=2.28.1->sodapy) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in /Users/nicolavalle/miniconda3/envs/ds/lib/python3.10/site-packages (from requests>=2.28.1->sodapy) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/nicolavalle/miniconda3/envs/ds/lib/python3.10/site-packages (from requests>=2.28.1->sodapy) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/nicolavalle/miniconda3/envs/ds/lib/python3.10/site-packages (from requests>=2.28.1->sodapy) (2022.6.15)

In [3]:
import pandas as pd
import sodapy
from sodapy import Socrata

In [5]:
# crime_url = "https://data.cityofchicago.org/resource/9hwr-2zxp.json"


app_token = "8y23ArYxg4pcvOMgWzMFSC0nB"

# Example authenticated client (needed for non-public datasets):
client = Socrata("data.cityofchicago.org",
                 app_token, 
                 username="ch35@illinois.edu",
                 password="68M8rz3vF!StBjD")


# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("9hwr-2zxp", limit=10000)

# Convert to pandas DataFrame
crime_df = pd.DataFrame.from_records(results)

print(crime_df.shape)

(10000, 22)

In [6]:
crime_df.head()

,date,location,district,block,y_coordinate,latitude,description,location_description,updated_on,community_area,...,ward,case_number,year,domestic,fbi_code,longitude,beat,primary_type,arrest,id
0,2022-10-30T23:56:00.000,"{'latitude': '41.869934707', 'human_address': ...",011,036XX W ARTHINGTON ST,1895799,41.869934707,AUTOMOBILE,APARTMENT,2022-11-06T15:50:08.000,27,...,24,JF455914,2022,False,07,-87.715907111,1133,MOTOR VEHICLE THEFT,False,12877138
1,2022-10-30T23:50:00.000,"{'latitude': '41.969297617', 'human_address': ...",020,048XX N ROCKWELL ST,1932051,41.969297617,DOMESTIC BATTERY SIMPLE,SIDEWALK,2022-11-06T15:50:08.000,4,...,40,JF455921,2022,True,08B,-87.693822931,2031,BATTERY,False,12877248
2,2022-10-30T23:50:00.000,"{'latitude': '41.754906915', 'human_address': ...",004,077XX S YATES BLVD,1854212,41.754906915,AUTOMOBILE,DRIVEWAY - RESIDENTIAL,2022-11-06T15:50:08.000,43,...,7,JF456243,2022,False,07,-87.566293711,0414,MOTOR VEHICLE THEFT,False,12877470
3,2022-10-30T23:42:00.000,"{'latitude': '41.865175251', 'human_address': ...",010,012XX S KARLOV AVE,1894042,41.865175251,TO PROPERTY,APARTMENT,2022-11-06T15:50:08.000,29,...,24,JF455907,2022,False,14,-87.727587068,1011,CRIMINAL DAMAGE,False,12877132
4,2022-10-30T23:39:00.000,"{'latitude': '41.909427341', 'human_address': ...",025,054XX W NORTH AVE,1910104,41.909427341,LICENSE VIOLATION,SMALL RETAIL STORE,2022-11-06T15:50:08.000,25,...,37,JF455912,2022,False,26,-87.761526045,2532,OTHER OFFENSE,False,12877197

In [10]:
weather = pd.read_csv("https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/chicago/2022-01-01/2022-11-07?unitGroup=us&elements=datetime%2Ctemp%2Cprecip&include=days&key=RRHH5UGB5KZYVFHGC7CARPAGD&contentType=csv")

In [11]:
weather.shape

(311, 3)

In [12]:
weather.head()

     datetime  temp  precip
0  2022-01-01  34.8   0.090
1  2022-01-02  23.5   0.032
2  2022-01-03  17.2   0.000
3  2022-01-04  29.8   0.000
4  2022-01-05  19.7   0.000